{% extends "base2.html.twig" %}

{% block title %}BlackJack{% endblock %}

{% block body %}
<div class="blackjackplay-wrapper">
    <div class="background-tableplay" style="background-image: url({{ asset('build/images/blackjacktable.jpeg') }})">
        <h3>Banken ${{ bankMoney }}</h3>
    
        <div class="card-box">
            {% for card in bankHand %}
                <span class="card">{{ card }}</span>
            {% endfor %}
        </div>

        <p>Totalt värde: {{ bankValue }}</p>

        {{ include('flash.html.twig') }}

        <h3 class="stake">At stake: ${{ bet }}</h3>

        <h3>Spelare ${{ playerMoney }}</h3>
        <div class="card-box">
            {% for card in playerHand %}
                <span class="card">{{ card }}</span>
            {% endfor %}
        </div>

        <p>Totalt värde: {{ playerValue }}</p>

        <form method="post" action="">
            <p>
                <input type="submit" name="draw" value="Draw card"
                    onClick="this.form.action='{{ path('play_draw') }}';"
                >
                <input type="submit" name="stop" value="Stop"
                    onClick="this.form.action='{{ path('play_stop') }}';"
                >
        
                <input type="submit" name="restart" value="Restart"
                    onClick="this.form.action='{{ path('play_restart') }}';this.form.method='get';"
                >
            </p>
        </form>

        <form method="post" action="{{ path('blackjack_deal') }}">
            <button type="submit">Deal Cards</button>
        </form>
        
        <form method="post" action="{{ path('highscore_create') }}">
            <button type="submit">SAVE</button>
        </form>


    </div>
    <a class="rules" href="{{ path('rules') }}">Dont know how to play ?</a>
</div>
{% endblock %}
