{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block body %}
<h1>The game 21</h1>

<h2>Hej och välkommen till spela 21, rundan är nu startad / initierad och vi skall börja testa att rendera svar från sessionen.</h2>


<p>Vi börjar med spelarens kort:</p>
<ul>
    {% for cards in playerHand %}
        <li>{{ cards }}</li>
    {% endfor %}
</ul>

<p>Totalt värde: {{ playerValue }}</p>

<p>Bankens kort:</p>
<ul>
    {% for cards in bankHand %}
        <li>{{ cards }}</li>
    {% endfor %}
</ul>

<p>Totalt värde: {{ bankValue }}</p>

{{ include('flash.html.twig') }}

<form method="post" action="">
    <p>
        <input type="submit" name="draw" value="Draw card"
            onClick="this.form.action='{{ path('game_draw') }}';"
        >
        <input type="submit" name="stop" value="Stop"
            onClick="this.form.action='{{ path('game_stop') }}';"
        >

        <input type="submit" name="restart" value="Restart"
            onClick="this.form.action='{{ path('game_restart') }}';this.form.method='get';"
        >
    </p>
</form>

{% endblock %}
