{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block body %}
<h1>The game 21</h1>

<h2>Play 21 - Draw at least 2 cards and try to win.</h2>

<h3>Spelarens kort</h3>
<div class="card-box">

    {% for card in playerHand %}
        <span class="card">{{ card }}</span>
    {% endfor %}
</div>

<p>Totalt värde: {{ playerValue }}</p>

<h3>Bankens kort</h3>
<div class="card-box">

    {% for card in bankHand %}
        <span class="card">{{ card }}</span>
    {% endfor %}
</div>


<p>Totalt värde: {{ bankValue }}</p>

{{ include('flash.html.twig') }}

<form method="post" action="">
    <p>
        <input type="submit" name="draw" value="Draw card"
            onClick="this.form.action='{{ path('game_draw') }}';"
        >
        <input type="submit" name="stop" value="Stop"
            onClick="this.form.action='{{ path('game_stop') }}';"
        >

        <input type="submit" name="restart" value="Restart"
            onClick="this.form.action='{{ path('game_restart') }}';this.form.method='get';"
        >
    </p>
</form>

{% endblock %}
